<%= form_with(model: familiar, local: true) do |form| %>
  <% if familiar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(familiar.errors.count, "error") %> prohibited this familiar from being saved:</h2>

      <ul>
        <% familiar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control" %>
  </div>
<br></br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
