<p id="notice"><%= notice %></p>

<h1>Familiars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familiars.each do |familiar| %>
      <tr>
        <td><%= familiar.name %></td>
        <td><%= link_to 'Show', familiar %></td>
        <td><%= link_to 'Edit', edit_familiar_path(familiar) %></td>
        <td><%= link_to 'Destroy', familiar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Familiar', new_familiar_path %>
