<p id="notice"><%= notice %></p>

<p>
  <strong>Dom:</strong>
  <%= @routine.dom %>
</p>

<p>
  <strong>Seg:</strong>
  <%= @routine.seg %>
</p>

<p>
  <strong>Ter:</strong>
  <%= @routine.ter %>
</p>

<p>
  <strong>Qua:</strong>
  <%= @routine.qua %>
</p>

<p>
  <strong>Qui:</strong>
  <%= @routine.qui %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @routine.sex %>
</p>

<p>
  <strong>Sab:</strong>
  <%= @routine.sab %>
</p>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
