<%= form_with(model: work, local: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :homework %>
    <%= form.text_field :homework %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div>
    <%= form.label :famliar%>
    <%= form.select("familiar_id", Familiar.all.collect{|f| [ f.name, f.id ] }, {include_blank:'Selecione...'})%>
  </div>

  <div class="field">
    <%= form.label :hour %>
    <%= form.time_select :hour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
