
<section style="width: 85%; background-color: transparent; margin: auto;"  >
<h1>Homework</h1>
<p id="notice"><%= notice %></p>
<br>

<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    New
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "New Work", new_work_path, class:"dropdown-item" %>
    <%= link_to "New Member", new_familiar_path, class:"dropdown-item" %>
  </div>
</div>

<br>
  <div class="row">
    <% @works.each do |work| %>
    <div class="col-sm-4">
      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title"><%= work.homework %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= work.familiar.name %></h6>
          <p class="card-text"><%= work.description %></p>
          <%= link_to 'Edit', edit_work_path(work), class:"card-link" %>
          <%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, class:"card-link" %>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</section>