<section class="container-fluid">
    
    <div>
        <div class="dropdown">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            New
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "New Work", new_work_path, class:"dropdown-item" %>
            <%= link_to "New Member", new_familiar_path, class:"dropdown-item" %>
            <%= link_to "New Shop List", new_shop_list_path, class:"dropdown-item" %>
          </div>
        </div>
    </div>
    <br></br>
<section style="display:flex; justify-content: space-around; width: 100%;">
    
    <ul class="list-group" style="width: 500px">
        <li class="list-group-item"><%= show_shop_list.sample %></li>
        <li class="list-group-item"><%= show_shop_list.sample %></li>
        <li class="list-group-item"><%= show_shop_list.sample %></li>
        <li class="list-group-item"><%= show_shop_list.sample %></li>
    </ul>
    
    
   <ul class="list-group" style="width: 700px">

      <li class="list-group-item"><%= show_work.sample %></li>
      <li class="list-group-item"><%= show_work.sample %></li>
      <li class="list-group-item"><%= show_work.sample %></li>
      <li class="list-group-item"><%= show_work.sample %></li>
      <li class="list-group-item"><%= show_work.sample %></li>

    </ul>
    
</section>

    
    
    
    
</section>