<!DOCTYPE html>
<html>
  <head>
    <title>CasaRotina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to "Inicio", welcome_index_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Participantes", familiars_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "To Do", works_path, class:"nav-link" %>  
    </li>
  </ul>
  
  
  

  <body>
    <%= yield %>
  </body>
</html>
