<!DOCTYPE html>
<html>
  <head>
    <title>CasaRotina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 

  <body style="display: flex; height: 300px; background-color: white">
    
    <nav class="nav flex-column" style="margin-top: 50px; justify-content: space-around; background-color: white; width: 150px; padding: 0px 15px;">
      <%= link_to "Inicio", welcome_index_path, class:"nav-link" %>
      <%= link_to "To Do", works_path, class:"nav-link" %>
      <%= link_to "Shop List", shop_lists_path, class:"nav-link" %>
      <%#= link_to "To Do", works_path, class:"nav-link" %>
      
    </nav>
    
    <%= yield %>
    
  </body>
</html>
